<ion-header>
  <ion-navbar color = "nav">
    <ion-title>Blacklist</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let location of this.restaurantData" #slidingItem>
      <ion-item ion-item *ngIf = "!isFavorite(location.name) || isBlacklist(location.name)">
          <ion-label *ngIf="!isBlacklist(location.name) && !isFavorite(location.name)">
            <h3>{{location.name}}</h3>
          </ion-label>

          <ion-label *ngIf="isBlacklist(location.name)">
            <h3><ion-icon name="close" style="color:red"></ion-icon> {{location.name}}</h3>
          </ion-label>
        </ion-item>

        <ion-item-options>
          <button *ngIf = "!isBlacklist(location.name)" style="background-color:red; color:black" (click)="favorite(location.name); share(slidingItem)">
              <ion-icon name="close" [class.close]="close"></ion-icon>
              Blacklist
          </button>

          <button *ngIf = "isBlacklist(location.name)" style="background-color:white; color:black" (click)="unfavorite(location.name); share(slidingItem)">
            <ion-icon name="close" [class.close]="close"></ion-icon>
            UnBlacklist
          </button>
        </ion-item-options>

      </ion-item-sliding>
  </ion-list> 
</ion-content>