page-preferences {
    ion-item , ion-content{
        background-color: #333e5b!important; // #4D4365 
        color: white !important;
    }

    ion-label{
        color: white !important;
    }
}
