page-quick-eats {
    ion-item , ion-content{
        background-color: #333e5b!important; // #4D4365 
        color: white !important;
        left: 0 !important;
        padding-left: 1% !important;
    }

    ion-item{
        border-bottom-width: 110% !important;
    }
}
